$color-pack = false
$body-font-family := 'Circular', sans-serif

$colours = {
  primary: #F32757,
  secondary: #FC645F
}

:export {
  colourPrimary: $colours.primary
  colourSecondary: $colours.secondary
}